@page "/"

<div class="promo-banner">
    <div class="promo-content">
        <h2 class="promo-subtitle">INTELLIGENT INSIGHTS SIMPLIFIED</h2>
        <h1 class="promo-title">Log Analysis Expert System</h1>
        <p class="promo-text">Tired of combing through endless logs? The Log Analysis Expert System accelerates your diagnostics by providing smart insights, highlighting anomalies, and simplifying log management.</p>
        <div class="promo-actions">
            <a href="/log_tool" class="btn-primary">Start Now!</a>
            <a href="/benefits" class="btn-secondary">→ See benefits</a>
        </div>
    </div>
</div>
